<div id="carouselHome" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/carousel/foto1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/carousel/foto2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-bs-target="#carouselHome" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>

<div class="maps">
    <div class="fs-4 fw-bold mb-2">Nossa Localização</div>
    <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-48.19570183753967%2C-15.685404340320494%2C-48.18842768669129%2C-15.672430325698755&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/-15.67892/-48.19206">Ver mapa ampliado</a></small>
</div>

<div class="avaliacoes">
    <app-avaliacoes-cafe></app-avaliacoes-cafe>
</div>