
.wrapper {
    .card {
        p {
            text-align: justify;
        }        
    }

    .page-header {
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        font-size: 2.5em;
    }
}