<div class="wrapper">
    <div class="container">
        <div class="page-header">Nossa História</div>
        <div class="card">
            <div class="card-body">
                <p class="lh-base">Bem-vindo &agrave; nossa cafeteria! N&oacute;s somos uma equipe apaixonada por caf&eacute; liderada por uma mulher inspiradora chamada Tia Rosa.</p>
                <p class="lh-base">Tia Rosa era uma mulher solit&aacute;ria que desenvolveu um amor profundo pelo caf&eacute;. Ela estudou tudo o que podia sobre os gr&atilde;os, torrefa&ccedil;&atilde;o e barismo, e sonhou em compartilhar sua paix&atilde;o com outras pessoas.</p>
                <p class="lh-base">Com muito trabalho &aacute;rduo, Tia Rosa transformou seu sonho em realidade e criou uma cafeteria encantadora, onde as pessoas podem desfrutar de uma x&iacute;cara de caf&eacute; perfeita em um ambiente acolhedor e amig&aacute;vel.</p>
                <p class="lh-base">Tia Rosa lidera uma equipe dedicada de baristas apaixonados, que trabalham juntos para oferecer a voc&ecirc; a melhor x&iacute;cara de caf&eacute; que voc&ecirc; j&aacute; provou.</p>
                <p class="lh-base">Ela &eacute; um exemplo inspirador de como, com trabalho &aacute;rduo e paix&atilde;o, podemos transformar nossos sonhos em realidade. Venha fazer parte da hist&oacute;ria de Tia Rosa, desfrute de uma x&iacute;cara de caf&eacute; perfeita em nossa cafeteria e sinta a paix&atilde;o que nos move.</p>
            </div>
        </div>
    </div>
</div>



